.container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.data-container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 30px;
}